#contour_tracking_container {
    color: #333;
    font-family: "Lato", sans-serif;
}
table.results td {
color: #888;
font-size: 90%;
}
.mtitle {
margin-top: 0;
margin-bottom: 0;
font-family: "Varela Round", sans-serif;
color: #4d4d4d;
font-size: 50px;
line-height: 80px;
font-weight: 600;
letter-spacing: 3px;
}
.msubtitle {
margin-top: -30px;
margin-bottom: -20px;
font-size: 23px;
line-height: 65px;
letter-spacing: 2px;
}
.mneurips {
color: #aaa;
font-size: 20px;
}
.mauthors {
font-size: 16px;
font-weight: 400;
line-height: 15px;
}
.mauthors_affiliation {
margin-top: -12px;
margin-bottom: 24px;
font-family: "Open Sans", sans-serif;
font-size: 12px;
line-height: 15px;
}
.darker_bg {
padding-top: 32px;
padding-bottom: 32px;
background-color: #f5f5f5;
}
.nav-link {
color: #333;
}
.nav-link a:hover,
a:hover,
a:active {
color: #888 !important;
}
.accordion-button:not(.collapsed) {
color: inherit;
background: #f5f5f5;
}
.accordion-button:not(.collapsed)::after {
filter: brightness(0%) invert(70%);
}
.accordion-button:focus {
box-shadow: inherit;
}


.github-corner:hover .octo-arm {
animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
0%,
100% {
    transform: rotate(0);
}
20%,
60% {
    transform: rotate(-25deg);
}
40%,
80% {
    transform: rotate(10deg);
}
}
@media (max-width: 500px) {
.github-corner:hover .octo-arm {
    animation: none;
}
.github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}
}