
.post_card_container { 
  width: 100%;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 2rem;

  background: #112131;
  border-radius: 10px;
  border: 2px solid transparent;

  height: 180px;
  overflow: hidden;

  transition: border 0.2s;

  cursor: pointer;
}

.post_card_container header {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.post_card_container header h1 {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 160%;
    color: #E7EDF4;
    text-align: justify;
}

.post_card_container header span {
    font-size: 0.875rem;
    line-height: 160%;
    color: #7B96B2;
    
}
  
.post_card_container main {
    height: 112px;
    overflow: hidden;
}
.post_card_container main p {
    height: 100%;
    text-align: justify;
    color: #AFC2D4;
}

.post_card_container main:hover {
    border: 2px solid #3A536B;
}
